* {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
.container {
  text-align: center;
}
.container .grad-box {
  padding: 40px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.container form {
  margin: 20px auto;
  width: 900px;
}
.container form .form-group {
  display: inline-block;
}
.container form .form-group label {
  display: block;
  margin-bottom: 15px;
}
.container form input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #efefef;
}
.container form .separator {
  margin: 0 20px;
}
.container .result,
.container .syntax {
  margin: 20px auto;
  background-color: rgba(3, 169, 244, 0.35);
  padding: 20px;
  width: 865px;
  text-align: left;
}
.container .result span,
.container .syntax span {
  font-weight: bold;
  width: 120px;
  display: inline-block;
}
