<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <title>Vue Calculate Product</title>
</head>
<body>
  <div id="vue-test" class="container" >
    <div class="grad-box"
      :style="{ backgroundImage: 'linear-gradient('+ direction +', '+ colorOne +' , '+ colorTwo +')'}"
    > Gradient Preview </div>
    <form action="">
  
      <div class="form-group">
        <label for=""> Direction </label>
        <input type="text" v-model='direction'>
      </div>
      <span class="separator"></span>

      <div class="form-group">
        <label for=""> Color Stop One </label>
        <input type="text" v-model='colorOne'>
      </div>
      <span class="separator"></span>

      <div class="form-group">
        <label for=""> Color Stop Two </label>
        <input type="text" v-model='colorTwo'>
      </div>
      <span class="separator"></span>

    </form>
    <div class="result">
      <span> Css Code:  </span> background-image: linear-gradient( {{ direction }}, 
      {{ colorOne }}, {{ colorTwo }} );
    </div>
    <div class="syntax">
      <span> syntax: </span> background-image: linear-gradient(direction, color-stop1, color-stop2, ...);
    </div>
  </div>

  <script src="js/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#vue-test',
      data: {
        direction: "to right",
        colorOne: '#FF0000',
        colorTwo: '#FFFF00'
      }
    });
  </script>
</body>
</html>